{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"overrides": [
		{
			"files": ["content/**/*.svelte"],
			"options": {
				"printWidth": 70,
				"requirePragma": true
			}
		},
		{
			"files": ["content/**/*.js"],
			"options": {
				"printWidth": 70
			}
		}
	]
}
